* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: var(--font-size);
}

a{
    color:var(--fg);
    text-decoration: none;
}
/* li{
    margin: .5rem 0;
} */

body {
    color: var(--fg);
    background-color: var(--bg);
    position: relative;
    z-index: -2;
}

.back-to-home{
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.back-to-home a{
    color: var(--blue-dim);
    padding: .5rem 1rem;
}
.back-to-home a:hover{
    text-decoration: underline;
}
.back-to-home svg{
    font-size: 2rem;
}
.back-to-home>svg{
    font-size: 1rem;
    position: absolute;
    top: -.7rem;
    left: -.6rem;
    pointer-events: none;
    z-index: -1;
}
.wrapper {
    /* background-color: var(--bg); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2.5rem 10vw;
    padding-bottom: .5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.2rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 768px;
    margin-top: 10px;
    width: 100%;
}

article nav a:hover{
   text-decoration: underline;
}

.rough-hr-container{
    margin-top: .5rem;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    margin: 0 2rem;
}

main .post-heading {
    text-align: center;
}

main .publish-metadata {
    color: var(--fg2);
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

main .publish-metadata span span{
    margin-right: .5rem;
}

main .publish-metadata span {
    margin-right: .5rem;
}

main .post-tags a {
    background-color: var(--bg1);
    border-radius: 0.25rem;
    padding: 0.3em 0.6em;
    color: var(--blue-dim);
    text-decoration: none;
    margin-right: .5rem;
}
main .post-tags a:hover{
    text-decoration: underline;
}
/* nav .toc-content {
    background-color: var(--bg2);
    border: var(--fg2) 1px dashed;
    border-radius: 0.25rem;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    counter-reset: ul-h2;
}

nav summary {
    cursor: pointer;
} */
article nav{
    background-color: var(--bg_s);
    display: inline-block;
    margin: 1rem;
    margin-top: 0;
    padding: 0.2rem .5rem;
    counter-reset: ul-h2;
    position: relative;
}

article nav svg{
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    pointer-events: none;
}

nav ul {

    list-style: none;
}

nav ul li {
    line-height: 1.5rem;
    counter-reset: ul-h3;
}

nav ul a {
    color: var(--blue-dim);
    font-size: .9rem;
    text-decoration: none;
}


nav ul li::before {
    counter-increment: ul-h2;
    content: counter(ul-h2)" ";
}

nav ul li>ul {
    margin-left: 1.5rem;
}

nav ul li li {
    counter-reset: ul-h4;
}

nav ul li li::before {
    counter-increment: ul-h3;
    content: counter(ul-h2)"." counter(ul-h3)" ";
}

nav ul li li li {
    counter-reset: ul-h5;
}

nav ul li li li::before {
    counter-increment: ul-h4;
    content: counter(ul-h2)"." counter(ul-h3)"." counter(ul-h4)" ";
}

main article {
    counter-reset: section-h2;
}

main article pre,
main article ol,
main article blockquote{
    margin: .5rem 0;
}
main article div,
main article table,
main article dl,
main article video main article p {
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6{
    margin-top: 2rem;
}

main article blockquote {
    background-color: var(--bg_s);
    border-left: var(--fg) 2px solid;
    border-radius: 0.25rem;
    font-style: italic;
    padding: 1rem 2rem;
}
main article blockquote blockquote{
    background-color: var(--bg1);
}

main article code{
    background-color: var(--bg_s);
  border-radius: 3px;
  color: var(--green-dim);
  font-size: .8rem;
  font-style: italic;
  margin: 0 3px;
  padding: 1px 4px;
}

main .math{
    font-size: 1.5rem;
}

main article .hljs{
    background: var(--bg_s);
}

main article table {
    display: block;
    overflow: auto;
    background-color: var(--bg);
    border-collapse: collapse;
    border: none;
}

main article th {
    background-color: var(--bg1);
    border: var(--fg) 2px solid;
    padding: 0.3rem 0.8rem;
}

main article td {
    border: var(--fg2) 2px solid;
    padding: 0.3rem 0.8rem;
}

footer{
    text-align: center;
    margin-bottom: 1rem;
}

.float-button-container{
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}
.float-back-to-top{
    font-size: 3rem;
}

 .side-toc-container{
    position: fixed;
    bottom: 8rem;
    right: 6rem;
    background-color: var(--bg_s);
    z-index: 13;
}

.side-toc-container nav{
      padding: 0.2rem .5rem;
    position: relative;
}

.side-toc-container svg{
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    pointer-events: none;
}
.side-toc-container a:hover{
    text-decoration: underline;
}

.float-button-container .float-toc {
    cursor: pointer;
}

footer{
    color: var(--fg4);
}